.container {
    padding: 60px;
    width: 1000px;
    margin: 0   auto;
    background: url("https://lh3.googleusercontent.com/proxy/XSMo1pGYUZlfe7Whf6EB1UuF24o9YuSaJGy5eKcSg_CfbeNkLJ4VfYYgdWN0zmoJ7TV9vAAdoEnoZlKVaJzkhVTSMUSx9RWvC-bFcekd-wQTDkIKdqI4chtKuzOIBhRz2A") no-repeat center top / cover;
    height: 100vh;

}